@model IEnumerable<Recipe>
@{
    ViewData["Title"] = "Recipes";
}
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<h1>All saved Recipes!</h1>
<h4>@Model.Count()</h4>

<div class="row">
    @foreach (var r in Model)
    {
        <div class="card card-body col-md-3 recipe-info p-1 m-1 bg-dark text-white rounded p-2">
            <img src="~/src/@(r.Id).jpg" class="img-fluid rounded" alt="@r.Name"/>
            <h3>@r.Name</h3>
            <ul class="list-group list-unstyled recipe-props">
                <li class="list-item">@r.Name</li>
                <li class="list-item">@r.Description</li>
                <li class="list-item">@r.CreateDT</li>
            </ul>
            <div class="position-absolute bottom-center">
                <button type="button" class="btn btn-dark">See details!</button>
            </div>
        </div>
    }
</div>



