@using PagedList.Mvc;
@model RecipeDTO
@{
    ViewData["Title"] = "Recipes";
}
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @*<script src="~/lib/jqueryui/jquery-ui.js"></script>*@
    @*<link href="~/lib/jqueryui/themes/smoothness/jquery-ui.css" rel="stylesheet" />*@

    @* Wyszukiwarka Autocomplete wymaga jquery-ui zawartego poniżej *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/theme.min.css" integrity="sha512-Q2qvb9omuMvaoo6ofA3xaiD3b1aA7BlQGYxEOTij6i4HRsDNB7K2uEUHbbymUqqFDduToacMzKNYYVRwe4H2yw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}

<div id="recipesNav" class="row justify-content-around p-2">
    <form method="get" class="col-sm-12 col-md-10 m-0 p-2 pb-0 pb-md-2" asp-controller="App" asp-action="Recipe">
        <div id="Recipes" class="col-sm-12 col-md-9 col-lg-10 m-0 p-0 pr-md-2 float-left">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control m-0 w-100", @id = "SearchInputRecipes", @placeholder = "Search..." } })
        </div>
        <div id="Recipes" class="col-sm-12 col-md-3 col-lg-2 m-0 mt-2 mt-md-0 pl-md-3 p-0 float-right">
            <button id="button" type="submit" class="btn w-100"><i class="fas fa-search fa-1x"></i> Search</button>
        </div>
    </form>

    <div id="Recipes" class="col-sm-12 col-md-2 m-0 p-0 pl-2 pr-2 pb-2 pt-md-2">
        <a id="button" class="btn btn-info w-100" asp-controller="App" asp-action="Create"><i class="fa fa-plus fa-1x"></i> Create</a>
    </div>
</div>


<div id="recipesContent" class="row mt-3 d-flex justify-content-center p-2">
    @if (ViewBag.SearchResultRecipes != null)
    {
        foreach (var r in ViewBag.SearchResultRecipes)
        {
            <div class="col-sm-12 col-md-4 col-xl-3 m-0 p-2">
                <div id="recipesCard" class="card recipe-info m-0 p-0 text-white shadow-lg">

                    @* If file in wwwroot\src\guid.jpg exists then draw an image *@
                    @{
                        var filePath = ViewBag.AbsolutePath + Convert.ToString(r.ImageFilename) + ".jpg";
                        if (System.IO.File.Exists(filePath))
                        {
                            <img class="card-img-top img-fluid text-center" style=" width: 100%; max-height: 300px; object-fit: cover; border-radius: 5px 5px 0px 0px;" src="~/src/@(r.ImageFilename).jpg" alt="@r.Name" />
                        }
                    }

                    <div class="card-body text-center ml-3 mr-3">
                        <h4 class="card-title text-left">@r.Name</h4>
                        <p class="card-text text-left">@r.Description</p>
                    </div>

                    <a class="card-footer btn btn-outline-danger border-secondary border-left-0 border-right-0 rounded-0 ml-4 mr-4" asp-controller="App" asp-action="Recipe" asp-route-id="@r.Id">See this recipe!</a>
                    <div class="card-footer text-center text-muted"><small>Last updated: @r.UpdateDT</small></div>
                </div>
            </div>
        }
    }

</div>


@* PAGINACJA *@
<div id="pagination" class="row d-flex justify-content-center p-2 mt-3 mb-3">
    @if (ViewBag.SearchResultRecipes != null)
    {
        var prev = ViewBag.ActualPage - 1;
        var next = ViewBag.ActualPage + 1;

        prev = prev <= 0 ? 1 : prev;
        next = next >= ViewBag.TotalPages ? ViewBag.TotalPages : next;

        <a id="button" class="btn ml-1 mr-1" asp-controller="App" asp-action="Recipes" asp-route-page="1">First</a>
        <a id="button" class="btn ml-1 mr-1" asp-controller="App" asp-action="Recipes" asp-route-page="@prev">Previous</a>
        for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <a id="button" class="btn ml-1 mr-1" asp-controller="App" asp-action="Recipes" asp-route-page="@i">@i</a>
        }
        <a id="button" class="btn ml-1 mr-1" asp-controller="App" asp-action="Recipes" asp-route-page="@next">Next</a>
        <a id="button" class="btn ml-1 mr-1" asp-controller="App" asp-action="Recipes" asp-route-page="@ViewBag.TotalPages">Last</a>
    }
</div>
